{% extends 'securecore/base.html' %} {% block title %} Please Authenticate {% endblock %} {% block content %}
<form action="{% url 'securecore:authcode' %}" method="post" class="form-inline">
  <div class="row">
    {% if success %}
    <h5 class='mono green'>{{success}}</h5><br>{% endif %}
    <h5 class='mono'>{{greeting}}</h5> {% csrf_token %}
    <input type="text" name="code" placeholder="Enter Code" class="form-control form-text input-lg"></input>
    <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-lock" aria-hidden="true"></i></button> {% if error %}
    <p class='mono red'>{{error}}</p>
    {% else %}
    <p class='mono'><small>Access codes are typically 8 letters.</small></p>
    {% endif %}
  </div>
</form>
{% endblock %}
